# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Env / secrets
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
